@use "@styles/scss/base/variables" as v;

.container {
  background: v.$mainDarkColor;
  padding: 0 v.$layoutPadding;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;

  .wrap {
    flex: 1;
    width: auto;
    overflow: hidden;
    color: v.$mainFontColor;
    display: flex;
    flex-direction: column;

    &.introWord {
      padding-right: 2rem;

      h2 {
        font-size: 60px;
        line-height: 70px;
        margin: 0;
        height: auto;

        &.highlight {
          background: -webkit-linear-gradient(#00fca8 0%, #da22ff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    &.person {
      padding-left: 2rem;
      vertical-align: middle;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .btnGroup {
    display: flex;
    flex-wrap: wrap;

    button {
      color: v.$mainFontColor;
      padding: 0.8rem;
      display: flex;
      align-items: center;
      border-radius: 50px;
      cursor: pointer;
      margin-right: 1rem;
      background-color: transparent;
      transition: all 0.3s ease;
      min-width: 170px;
      max-width: 180px;
      margin-top: 1rem;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 0.5rem;
        font-size: 20px;
      }

      &.btnVisit {
        background: #9733ee;

        span {
          color: #9733ee;
          background-color: v.$mainFontColor;
        }

        &:hover {
          transform: scale(0.9);
        }
      }

      &.btnPlay {
        span {
          border: 2px solid #9733ee;
          color: #9733ee;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    padding: 2.5rem v.$largePadding;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 2.5rem v.$middlePadding;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;

    .wrap.person {
      padding: 0;
      margin-top: 2rem;

      &::after {
        width: 0;
        height: 0;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .container {
    .wrap.introWord h2 {
      font-size: 25px;
      line-height: 35px;
    }
  }
}
