@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 2px;
  line-height: 1.8rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #0e0e0e;
  color: #eeefee;
}

a {
  color: #eeefee;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  margin: 2px 0;
}

::-webkit-scrollbar-thumb {
  background: #7e7e7e;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(166, 166, 166);
}

::selection {
  color: #eeefee;
  background: #da22ff;
}
