@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 2px;
  line-height: 1.6rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}